img:hover{
    opacity: 0.6;
}
.bg{
    width: 400px;
    height: 350px;
    background: url(../photo/baby.jpg) no-repeat center / cover;
    overflow: hidden;
}
.box p{
    text-align: center;
    padding: 30px;
    background: #fff; 
    opacity: 0.6;
    margin-top: 120px;
}