body{
    margin: 0;
}
.tuhin{
    width: 50%;
    height: 300px;
    background: yellow;
    margin: 50px auto;
    padding: 50px 100px ;
    text-align: center;
}
P{
    margin: 50px;
    outline: 10px ridge yellow;
    border: 2px solid red;
    outline-offset: 30px;
}