p{
    color: black;
    text-transform: capitalize;
    text-indent: 50px;
    line-height: 30px;
}
a{
    text-decoration: none;
    color: #333;
}
h2{
    word-spacing: 1.5;
    text-shadow: 2px 3px red;
}
h3{
    text-decoration: line-through;
}
h4{
    font-family: agency FB;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}
div{
    font-variant: small-caps;
}