.icon{
    overflow: hidden;
}
.icon ul{
    margin: 0;
    padding: 0;
}
.icon ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.icon ul li:last-child{
    margin-right: 0;
}
.icon ul li a{
background-image: url(../photo/icons.png);
background-repeat: no-repeat;
background-position: 0 0;
display: inline-block;
border: 2px solid #000;
border-radius: 50%;
width: 100px;
height: 100px;
transition: 1s;
}
.icon ul li:hover:nth-child(1) a {
    background-position: 0px -110px;
}
.icon ul li:nth-child(2) a {
    background-position: -210px 0px;
}
.icon ul li:hover:nth-child(2) a {
    background-position: -210px -110px;
}
.icon ul li:nth-child(3) a {
    background-position: -315px 0px;
}
.icon ul li:hover:nth-child(3) a {
    background-position: -315px -110px;
}