.box{
    width: 100px;
    height: 100px;
    background: red;
    transition-delay: 1s;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-property: width height;
}
.box:hover {
    width: 200px;
    height: 200px;
}