.m1{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline;
    background: yellow;
    padding: 5px;
}
.m2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    background: yellow;
    padding: 5px;
}
.m3{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background: yellow;
    padding: 5px;
    display: block;
}